
@font-face {
  	font-family: 'myfont';
  	src: url('myfont.eot');
  	src: local(myfont), url('myfont.ttf') format('opentype'); 
  }

body{
    background: #FFFFFF;
    /*font-family: myfont;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;kground: url('img/bodybg.jpg') repeat-x;
  	font-size: 13px;
  	font-weight: normal;
  	color: #333;
  }

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#siteWrapper{
	width: 320px;
	margin: 0 auto;
	padding: 0;
}

#contentWrapper{
	float: left;

}
#header{
	width:320px;
	padding-top: 8px;
	float: left;
	border-bottom:1px solid #BBBBBB;
	height:68px;
}
#mainWrapper{
	float: left;
    padding-top: 20px;
}
.logo{
    float: left;
    height: 67px;
    width: 241px;
}
.navigation{
	float:left;
	padding-top: 20px;
}
ul.navUL{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top:3px;
}
ul.navUL li{
	display: inline;
	font-size: 15px;
	margin-left: 20px;
}
ul.navUL li a, .firstName a{
	color: #bc3b98;
	text-decoration: none;
}
ul.navUL li a:hover, .firstName a:hover{
	color: #FFD622;
	text-decoration: none;	
}
ul.navUL li.active a{
	color: #FFD622;
}


input[type="text"], textarea{
	border: 1px solid #ddd;
	padding: 4px;
	font-family: myfont;
	font-size: 13px;
	color: 333;
	resize: none;
	margin-bottom: 10px;
}
textarea{
	overflow: auto;
	vertical-align: top;
}
input[type="text"]{
	padding: 4px;
}
input[type="submit"]{
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    padding: 4px 10px;
}

img{
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button,
input,
select,
textarea {
  
  font-size: 100%;
  vertical-align: middle;
}
button, input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

select {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 4px 4px 4px 0;
    width: 220px;
}
select[multiple], select[size] {
  height: auto;
}


.fbLogin{
	float: left;
	width: 394px;
	
}
.loginButton{
  	background: none repeat scroll 0 0 #0E385F;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    float: left;
    font-size: 14px;
}

#loginSpan{
color: #fff;
cursor: pointer;
}

#logoutSpan, .firstName a{
	color: #bc3b98;
	cursor: pointer;
}
#logoutSpan:hover, .firstName a:hover{
	color: #FFD504;
}
.userInfo{
	margin-left:4px;
    width: 132px;
    float: left;
}
#profilePic{
	float: right;
    margin-left: 10px;
    margin-top: 6px;
}
#profilePic img{
	border: 1px solid #eee;
}
.firstName{
	float: right;
	margin-top: 22px;
	word-wrap: break-word;
	width: 68px;
	text-align: right;
}

.headerPoints{
	float: right;
	color: #BE3C94;
	font-size: 11px;
	margin-top: 4px;
}

.mainBlock{
	float: left;
}
.leftBlock{
	width: 320px;
	
}
.rightBlock{
	width: 282px;
    margin-left: 28px;
}
#postStatus{
	float: right;
	font-size: 10px;
	padding: 6px 8px;
	color: white;
	margin-top: 0px;
}
.gradientBg{
	background: #ecc5e0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjYzVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYjllYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ecc5e0 0%, #db9ec7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecc5e0), color-stop(100%,#db9ec7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ecc5e0 0%,#db9ec7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ecc5e0 0%,#db9ec7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ecc5e0 0%,#db9ec7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ecc5e0 0%,#db9ec7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc5e0', endColorstr='#db9ec7',GradientType=0 ); /* IE6-8 */

}
#updateStatus{
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 5px #DDDDDD;
    height: 75px;
}
.homePostWidth{
    width: 850px;
}
.statusUpdateHolder{
	height: 160px;
}
.tabsButton{
	padding-bottom: 6px;
	color: #ddd;
}
#postStatusTabs, #postImageTabs{
	padding-right: 10px; 
    cursor: pointer;
}
.latestUpdates{
	margin-top: 20px;
}

.postUserDetail img{
	border: 1px solid #ddd;
}
.postUserDetail{
    float: left;
    padding: 5px;
    width: 80px;
    word-wrap: break-word;
    font-size: 10px;
}
.singleUpdatePost{
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-right-color:#DDDDDD;
  border-right-style:solid;
  border-right-width:2px;
  float:left;
  margin-bottom:20px;
}
.updatesPost{
    float: left;
    padding: 5px 10px;
    width: 758px;
}

.postImage{
	margin-top: 10px;
}
.postMeta2{
    float: left;
    padding: 10px 0px;
    width: 630px;
}
.postMeta{
    float: left;
    padding: 10px 0px;
    width: 868px;
}
ul.postMetaList{
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.postMetaList li{
    color: #b05b92;
    display: inline;
    font-size: 11px;
    margin-right: 20px;
    cursor: pointer;
}
ul.postMetaList li:hover{
	text-decoration: underline;
}	

.comForms{
	margin: 40px auto 0;
    width: 550px;
}
.hideMe{
	display: none;
}

.commentDiv{
	margin: 0;
	padding: 0;
	list-style: none;
}
.comList2{
    clear: both;
    margin: 10px 0 0px 0px;
    padding: 5px;
    position: relative;
    width: 620px;
    float: left;
    font-size: 11px;
}
.comList{
    clear: both;
    margin: 10px 0 0px 65px;
    padding: 5px;
    position: relative;
    width: 730px;
    float: left;
    font-size: 11px;
}
.commentLeftBlk{
    float: left;
    margin-right: 10px;
    width: 50px;
}
.commentRightBlk{
	width: 660px;
	float:left;
}
.commentRightBlkProfile{
	width: 550px;
	float:left;
}
li.eachComment{
	float: left;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding: 5px;
}
li.postCommList{
    color: #B05B92;
    margin-bottom: 10px;
    text-align: center;
}

.userFName{
	font-weight: bold;
}

.loadMoreCom{
    clear: both;
    cursor: pointer;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    width: 250px;
    color: #fff;
}
.loadImage{
    width: 35px;
    height: 35px;
    margin: -10px auto -7px;
}
.intLeftBlock{
    float: left;
    margin-right: 38px;
    width: 188px;
}
.intRightBlock{
    float: left;
    width: 632px;
}
.intRightBlock2{
    float: left;
    width: 287px;
    padding-top:5px;
}
.profilePostWidth{
    width: 620px;
}
.profileImageBig{
    padding: 2px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    width: 193px;
}
div.profileUserName{
    font-size: 18px;
    color: #c93c9a;
	margin-bottom:6px;
}
.profileEdit{
    font-size: 15px;
    color: #c93c9a;
}

ul.profileSocial{
    list-style: none;
    margin: 5px 0 10px;
    padding: 0;
}
ul.profileSocial li{
    display: inline;
    margin-left: 2px;
}
ul.profileSocial li:first{
    margin-left: 0;
}

ul.profilePersonalInfo{
    border-bottom: 1px solid #DDDDDD;
    float: left;
    font-size: 13px;
    list-style: none outside none;
    margin: 0;
}
ul.profilePersonalInfo li.profilePIL{
    width: 85px;
    text-align: right;
    float: left;
}
ul.profilePersonalInfo li.profilePIR{
    width: 100px;   
    text-align: left;  
    float: right;
}
ul.profilePersonalInfo li.profilePIL2{
    width: 85px;
}
ul.profilePersonalInfo li.profilePIR2{
    width: 100px;   
}

ul.profileScoreTable{
    margin: 0;
    padding: 10px 0 20px;
    list-style: none;
    float: left;
}

ul.profileScoreTable li.profileSTL{
    width: 100px;
    float: left;
    text-align: right;
}

ul.profileScoreTable li.profileSTR{
    width: 80px;    
    float: right;
    padding-left: 8px;
    font-weight: bold;
    color: #c93c9a; 
}

.profileMessage{
    padding: 20px 0 20px;
    border-bottom: 1px solid #ddd;
    float: left;
}

.profileFavTips{
    color: #C93C9A;
    padding: 20px 0;
    float: left;
}

ul.editProfileBlock{
    list-style: none;
    margin: 0;
    padding: 0;
    float:left;
}
ul.editProfileBlock li.editPBLeft{
    width: 130px;
    float: left;
    text-align: left;
}
ul.editProfileBlock li.editPBRight{
    width: 500px;
    float: left;
}
li.submitButton{
    float: left;
    width: 42px; 
}

.intSubTabs{
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}

ul.intSubTabsList{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.intSubTabsList li{
    cursor: pointer;
    display: inline;
    margin: 0 20px;
    color: #C93C9A;
}
ul.intSubTabsList li:hover{
    color:  #FFD504;
}

.intSubTabsInfo{
    float: left;
}
.intSubTabsRoutine,.intSubTabsMakeup{
    padding-top: 30px;
    float: left;
}
.intSubTabsCurrent{
    color: #FFD504;
}

.editPBRight input[type="text"]{
    width: 175px;
}

input[type="text"]#routineTitle{
    width: 530px;
    float: left;
    margin-right: 7px;
}
.addSaveBtn, .addUpdateBtn{
    background: none repeat scroll 0 0 #228FD0;
    color: #FFFFFF;
    float: right;
    padding: 5px;
    text-align: center;
    width: 75px;
    cursor: pointer;
	margin-left: 0px;
}
.addDelBtn{
    background: none repeat scroll 0 0 #e81d5c;
    color: #FFFFFF;
    float: right;
    padding: 5px;
    text-align: center;
    width: 75px;
    cursor: pointer;
}
#routineBlockContainer{
    float: left;
	margin-top:25px;
}
.everyRoutine{
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    float: left;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
input[type="text"].routineTitleField {
    width: 527px;
}

.addSuccess {
    color: #c93c9a;
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: -22px;
}
.eachRoutineImageContainer{
    float: left;   
    margin: 10px 0; 
    width: 632px;
}


.UIMessage{
    clear: both;
}

.deleteImageBtn{
    cursor: pointer;
    height: 20px;
    width: 20px;
    background: url('img/close.jpg') no-repeat;
    margin: 0 0 -21px 1px;
    position: relative;
}

.deleteImageBtn:hover{
    cursor: pointer;
    height: 20px;
    width: 20px;
    background: url('img/closeHover.jpg') no-repeat;
}

.eachRoutineImage img, .masonryEachRoutineImage img, .eachMakeupImageDisplay img, .makeupMasonry img, .makeupPreview img{
    height:150px;
	width:auto;
}


ul.routineDisplayTab{
	margin:10px 0 0;
	padding: 0 0 7px;
	list-style: none;
	border-bottom: 1px solid #ddd;
}

ul.routineDisplayTab li.activeTabs {
	color: #C796B6;
}

ul.routineDisplayTab li.routineDisplayTabSelected {
	color: #C796B6;
}

ul.routineDisplayTab li{
    color: #C93C9A;
    cursor: pointer;
    display: inline;
    margin: 0 10px;
}

.routineDisplaySingle{
	float: left;
	margin: 30px 0;
}
#routineDisplayTab2Content{
    float: left;
    margin: 30px 0;   
}
.routineDisplayValue{
	padding-bottom: 10px;
}
#routineDisplayContainer{
	float: left;
}
.routineDisplayImage{
    width: 632px;
}
.masonryEachRoutineImage, .eachRoutineImage, .eachMakeupImageDisplay, .makeupMasonry,.makeupPreview{
    float: left;
    margin-right: 4px;
}

/*.masonryEachRoutineImage:nth-child(4n){
    margin-right: 0;
}
.eachRoutineImage:nth-child(4n){
    margin-right: 0;
}*/
#routineDisplayTab2Content, .intSubTabsMakeup{
    width: 632px;
}
#preview{
    margin-bottom: 15px;
}
 #previewBelow{
    margin-top: 15px;
 }
.eachUserSearchResult{
    float: left;
    padding-bottom: 30px;
}
.searchResultintLeft{
    float: left;
    height: 50px;
    margin-right: 12px;
    width: 50px;
}
.searchResultintLeft img{
	width: 50px;
	height: 50px;
}
.searchResultintRight{
    float: left;
	width: 570px;
	border-bottom: 1px solid #DDD;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	color: #777;
	font-size: 12px;
	line-height: 20px;
}
ul.searchResultListRightPoints {
	float: right;
	text-align: right;
	width: 120px;
	border-bottom: none;
	margin: 0;
	padding: 0;
    list-style: none;
}
ul.searchResultListRightPoints li:last-child {
	padding-bottom: 10px;
}
ul.searchResultList{
    list-style: none;
	width: 450px;
	margin: 0;
	padding: 0;
	float: left;
}
ul.searchResultListBeauties{
    list-style: none;
	width: 570px;
	margin: 0;
	padding: 0;
	float: left;
}
ul.searchResultList li{
    line-height: 18px;
    
}
ul.searchResultList li span{
    color: #777;
    font-size: 11px;
}
ul.searchResultList li a{
    color: #0a77d5;
    
}
ul.searchResultList li a:hover{
    text-decoration: underline;
    
}
ul.searchResultList li:last-child{
    padding-bottom: 10px;
}
.resultTitle{
    font-size: 17px;
    padding-bottom: 15px;
}
input[type="text"].searchFieldProfile{
    float: left;
    width: 202px;
    margin: 0;
}
input[type="submit"].searchBtnProfile{
    float: left;
    height: 31px;
    margin-left: 4px;
    background: #eee;
}
#follow{    
    width: 110px;
    text-align: center;
    color: #fff;
    float: right;
    cursor: pointer;

    background: #26bf0f; /* Old browsers */
    background: -moz-linear-gradient(top,  #26bf0f 0%, #299a0b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26bf0f), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #26bf0f 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #26bf0f 0%,#299a0b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #26bf0f 0%,#299a0b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #26bf0f 0%,#299a0b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26bf0f', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */

    padding: 2px;
    border-radius: 4px;
}
#unfollow{
    width: 110px;
    text-align: center;
    color: #fff;
    float: right;
    cursor: pointer;

    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */


    padding: 2px;
    border-radius: 4px;
}

.emptyRoutineMsg{
    margin-top: 30px;
}
textarea.routineTextArea{
    width: 527px;
}

.finishLoadingSearchResult, .loadMoreSearchResult{
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    margin: 0 0 10px 104px;
    padding: 3px 5px;
    text-align: center;
    width: 400px;
}

.productsContainer{

}
.eachProduct{
    display: inline-block;
	width: 100px;
	margin-right: 7px;
	margin-bottom: 5px;
	vertical-align: top;
	border: 1px solid #DDD;
}
/* IE6-7 */
@media,
  {
  div.eachProduct { display: inline; margin-right:10px; }
  }
.eachProduct:nth-child(3n){
    margin-right: 0;
}
.productRating{
    background: url("img/ratingbg.png") repeat-x scroll 0 0 transparent;
    height: 24px;
    position: relative;
    z-index: 100;
}
.productImg{
    height: 100px;
	position: relative;
	width: 100px;
	z-index: 90;
}
.productImg img{
	max-height: 100px;
	max-width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.productTitle{
    line-height: 22px;
    padding: 0 6px;
    position: relative;
    z-index: 100;
}
.productTitle a{
    color: #888;
    text-decoration: none;
	line-height: 10px;
	font-size: 10px;
}
.productTitle a:hover{
    text-decoration: underline;
}
.productCommentBox{
}
.moreComment{
    cursor: pointer;
    font-size: 11px;
    margin-bottom: 5px;
    text-align: right;
}

.moreComment:hover{
    text-decoration: underline;
}

.noMoreComment{
    font-size: 11px;
    margin-bottom: 5px;
    text-align: right;
}

.commentIntLeft{
    height: 50px;
    width: 50px;
    display: inline-block;
}
.commentIntRight{
    background: none repeat scroll 0 0 #EFEFEF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	display: inline-block;
	font-size: 9px;
	height: 48px;
	line-height: 16px;
	overflow: hidden;
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: top;
	width: 135px;
	word-wrap: break-word;
}
.noComment{
    font-size: 12px;
	margin-bottom: 5px;
	margin-top: 2px;
	text-align: center;
}
ul.starRatings{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.starRatings li{
    display: inline;
}
ul.starRatings li img{
    cursor: pointer;
}
.oneStar,.oneStar2 {
	margin-right: -3px;
}
.twoStar,.twoStar2,.threeStar,.threeStar2,.fourStar,.fourStar2 {
	margin-left: -3px;
	margin-right: -3px;
}
.fiveStar,.fiveStar2 {
	margin-left: -3px;
}

.ratingsAvg{
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 3px;
    margin-top: -24px;
    text-align: right;
    vertical-align: top;
}
.singleProductTitle{
    font-size: 18px;
    font-weight: bold;
}

.singleProductRatings{
    margin-bottom: 10px;
    margin-top: 10px;
}

.singleProductImage{
    border: 1px solid #DDDDDD;
    float: left;
    height: 150px;
    margin-bottom: 12px;
    margin-right: 12px;
    width: 150px;
}
.singleProductDesc{

}

.bigComment{
    height: auto;
    min-height: 48px;
    width: 260px;
    margin-bottom: 5px;
}
.singleProductCommentForm{
    clear: both;
    width: 551px;
	margin-bottom: -20px;
}
#singleProductComment{
	width: 300px;
	resize: vertical;
}
.singleProductBuyNow{
    background: none repeat scroll 0 0 #EEE;
	border: 1px solid #DDD;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	font-size: 20px;
	width: 125px;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}
.singleProductSubmitComment{
    position: relative;
	top: -10px;
	left: 688px;
	background: none repeat scroll 0 0 #EEE;
	border: 1px solid #DDD;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	font-size: 20px;
	width: 160px;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}
.notificationList{
	cursor:pointer;
}
.hiddenLink{
	text-decoration: none;
	color:black;
}
.hiddenLink:hover{
	text-decoration: none;
	color:black;
}
.notifications{
	background:url('img/notecrownWhite.jpg');
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	background-repeat:no-repeat;
	height: 60px;
	width: 60px;
	text-align: center;
	font-size:22px;
	font-weight:bold;
	cursor:pointer;
}
#f1_upload_process{
   	z-index: 100;
	position: relative;
	visibility: hidden;
	text-align: center;
	width: 220px;
	top: -25px;
	left: -2px;
	margin: 0px;
	padding: 0px;
	background-color: white;
}
.hasPlaceholder {
    color: #777;
}
.deleteComment {
	color: #B05B92;
	float: right;
	position: relative;
	top: -18px;
	font-size: 11px;
	cursor: pointer;
	font-weight: normal;
}
.productsDisplayTab {
	margin-left:20px;
	cursor:pointer;
	display:inline-block;
	color: #C93C9A;
}
.activeTabs {
	color: #C796B6;
}
