.toprow {
	padding-bottom:10px;
	padding-top:10px;
}
h1 {
	text-align:center;
	padding-bottom:10px;
}
.topbanner {
	font-size:16px;
	text-align:center;
	background-image: url('http://i.imgur.com/1kkX0.png');
}